{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block boostrap %}
    {{ parent() }}
{%  endblock %}
{% block body %}
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="logo" src="{{ asset('img/Logo.jpg') }}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="plats.html">Nos Spécialités</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="reservation.html">Reserver</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contact">Nous Contacter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Actualites">Actualités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Horraires</a>
                        </li>
                    </ul>
                    <form class="d-flex">        
                        <a href="panier.html"><i class="fas fa-shopping-cart"></i></a>
                    </form>
                </div>
            </div>
        </nav>

        <h1>Bienvune chez GreatKitch</h1>
    {% endblock %}

    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <div class="card-body">
                            <h3>Bienvenue chez GreatKitch</h3>
                            <p id="intro">
                                Chères clientes, chers clients,<br>
                                Face aux dernières mesures sanitaires, nous sommes au regret de fermer nos portes. Mais pour nous, il n’est pas question de ne plus vous offrir de plaisir, de cuisine et de partage.<br>
                                Origines s’adapte donc une nouvelle fois, pour vous proposer sa gastronomie de saison, chez vous.<br>
                                Grâce à notre site internet, vous pouvez commander notre menu de la semaine à 32€ en entrée plat dessert, mais aussi des produits d’exception comme le jambon de porc noir gascon Matayron, le pain de la Maison Poujauran…
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/plt5.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/plts1.jpg" class="d-block w-100"  alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/plt9.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <section>


    {% endblock %}
